body {
  padding-top:30px;
  /*font-size: 16px;*/
}
.form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
.inputRow
{
	display: table;
	width: 100%;
	padding: 0px;
}
.inputRow > div
{
	padding-right: 0px;
}
.inputWrapper
{
	display: table-cell;
	padding: 0px 5px;
}
.inputWrapper:first-of-type
{
	padding-left: 0px;
}
.phoneNumberPart {
  text-align: center;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 75px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
	#quotedropdowns
	{
		display: none;
	}
}

/* Extra small devices */
@media (max-width: 767px)
{
  #quotetable
  {
    display: none;
  }
  #hint
  {
    display: none;
  }
  .navbar {
    text-align: center;
  }
  .navbar-brand
  {
    float: none;
  }
  #top-cases
  {
    display: none;
  }
}
