<div class="col-sm-8 col-sm-offset-2">

  <div class="page-header"><h1>More About You</h1></div>

  <form name="form" ng-submit="save(form.$valid, 'interview.step4')" novalidate>

    <div class="form-group" ng-class="{ 'has-error' : submitted && form.risk_taker.$invalid }">
      <label class="control-label">Are You a Risk Taker</label>

      <div class="radio">
        <label>
          <input type='radio' class='boolean' value='No' name="risk_taker_no" ng-model='interview.risk_taker' autocomplete='off'>
          Not Really
        </label>
      </div>
      <div class="radio">
        <label>
          <input type='radio' class='boolean' value='Yes' name="risk_taker_yes" ng-model='interview.risk_taker' autocomplete='off'>
          Big Time!
        </label>
      </div>
      <p ng-show="submitted && (form.risk_taker_no.checked || form.risk_taker_yes.checked)" class="help-block">Risk Taker answer is required</p>
    </div>

    <div ng-show="interview.risk_taker == 'Yes'">
      <div class="form-group" ng-class="{ 'has-error' : submitted && form.risk_kind.$invalid }">
        <label class="control-label">What kind of risky behaviours are you involved in?</label>
        <input type="text" name="risk_kind" class="form-control" ng-model="interview.risk_kind" ng-required="interview.risk_taker == 'Yes'">
        <p ng-show="submitted && form.risk_kind.$error.required" class="help-block">Please answer the question</p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>

