<form name="form" class="form form-hoizontal" ng-submit="saveQuote(form.$valid)" novalidate>

    <div id='quotetable'>
      <h4>Click on an amount to select your premium</h4>
      <table class="table table-condensed well">
        <thead>
          <tr>
            <th>Amount</th>
            <th class="text-center" ng-repeat="premium in interview.quotes[0].premiums.monthly">
              {{premium.term}} years
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="quote in interview.quotes">
            <td style="vertical-align: middle">${{quote.coverageAmount}}</td>
            <td ng-repeat="premium in quote.premiums.monthly">
              <input type='radio' class='boolean' ng-value="premium" id="{{premium.id}}" name="selectedPremium" ng-model='interview.selectedPremium' autocomplete='off'>
              <label for="{{premium.id}}" ng-click="interview.selectedPremium = premium">${{premium.amount}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="quotedropdowns">
      <div class="row">
        <div class="col-sm-6">
          <h4 for="selectedQuote">Choose an Amount</h4>
          <select class="form-control" id="selectedQuote" ng-model="interview.selectedQuote" ng-options="quote as quote.coverageAmount for quote in interview.quotes" required>
            <option value="">Coverage Amount</option>
          </select>
        </div>
        <div class="col-sm-6">
          <h4 for="selectedPremium">Choose a Term</h4>
          <select class="form-control" id="selectedPremium" name="selectedPremium" ng-model="interview.selectedPremium" ng-options="premium as premium.term for premium in interview.selectedQuote.premiums.monthly" required>
            <option value="">Term</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4>Your Premium</h4>
          <div class="well text-center">
            <span ng-show="interview.selectedPremium"><h2>$ {{interview.selectedPremium.amount}}</h2></span>
            <span ng-show="!interview.selectedPremium"><h2> $ --.-- </h2></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" name="next" class="submit active pull-right">CONTINUE<span class="continueCaret"><img src="/images/continueCaret.png"></span></button>
  <div ng-if="submitted && form.selectedPremium.$error.required" class="form-group has-error">
    <p class="help-block">You must select a premium amount to finish</p>
  </div>

</form>

