<form name="form" class="form form-horizontal" ng-submit="saveLifestyle(form.$valid)" novalidate>

  <div class="form-group">
    <div class="col-sm-12 question">Are You a Risk Taker.  Do you enjoy engaging in risky behaviors such as laughing or having fun?  Do you ever stay up lote or go to parties?  Are you the type of person that would step on ants or do you avoid them at all costs, preferring to live and let live?</div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : submitted && isUndefined(interview.risk_taker) }">
    <div class="col-sm-3">
      <input type='radio' class='boolean' value='Yes' name="risk_taker_yes" ng-model='interview.risk_taker' autocomplete='off'>
      <label for="risk_taker_yes" ng-click="interview.risk_taker = 'Yes'">Yes</label>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <input type='radio' class='boolean' value='No' name="risk_taker_no" ng-model='interview.risk_taker' autocomplete='off'>
      <label for="risk_taker_no" ng-click="interview.risk_taker = 'No'">No</label>
    </div>
    <p ng-show="submitted && isUndefined(interview.risk_taker)" class="col-sm-12 help-block">Your answer is required</p>
  </div>

  <div ng-show="interview.risk_taker == 'Yes'">
    <div class="form-group" ng-class="{ 'has-error' : submitted && form.risk_kind.$error.required }">
      <label>What kind of risky behaviours are you involved in?</label>
      <input type="text" name="risk_kind" class="form-control" ng-model="interview.risk_kind" ng-required="interview.risk_taker == 'Yes'">
      <p ng-show="submitted && form.risk_kind.$error.required" class="help-block">Please answer the question</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 question">Do you like sports?  Did you used to play a sport and now are too old, but play anyway only to get hurt now and again rendering yourself useless to your family for some period of time while you recover?</div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : submitted && isUndefined(interview.sports) }">
    <div class="col-sm-3">
      <input type='radio' class='boolean' value='Yes' name="sports_yes" ng-model='interview.sports' autocomplete='off'>
      <label for="sports_yes" ng-click="interview.sports  = 'Yes'">Yes</label>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <input type='radio' class='boolean' value='No' name="sports_no" ng-model='interview.sports' autocomplete='off'>
      <label for="sports_no" ng-click="interview.sports = 'No'">No</label>
    </div>
    <p ng-show="submitted && isUndefined(interview.sports)" class="col-sm-12 help-block">Your answer is required</p>
  </div>

  <div class="form-group">
    <div class="col-sm-12 question">Are you alive?  Do you engage in activites that feed your soul and make life worth living?  Or are you dead, bored with life and with one foot in the grave.  Please answer honestly.</div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : submitted && isUndefined(interview.alive) } ">
    <div class="col-sm-3">
      <input type='radio' class='boolean' value='Yes' name="alive_yes" ng-model='interview.alive' autocomplete='off'>
      <label for="alive_yes" ng-click="interview.alive  = 'Yes'">Yes</label>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <input type='radio' class='boolean' value='No' name="alive_no" ng-model='interview.alive' autocomplete='off'>
      <label for="alive_no" ng-click="interview.alive = 'No'">No</label>
    </div>
    <p ng-show="submitted && isUndefined(interview.alive)" class="col-sm-12 help-block">Your answer is required</p>
  </div>

  <button type="submit" name="next" class="submit active pull-right">GET QUOTE<span class="continueCaret"><img src="/images/continueCaret.png"></span></button>

</form>

