<div class="row gradient" id="stepTitleRow">
  <div class="col-xs-12">
    <span id="stepTitle">{{pageTitle()}}</span>
    <br>
    <span id="stepByline">{{pageLine()}}</span>
  </div>
  <div class="breadcrumbsWrapper">
    <ul class="breadcrumbs">
      <li ng-repeat="step in breadcrumbs"  ng-class="{ 'active' : $state.current.name == '{{step.name}}' }">
        <span ng-if="$state.current.name != step.name">
          <a ui-sref="{{step.name}}">{{step.breadcrumb}}</a>
        </span>
        <span ng-if="$state.current.name == step.name">
          <a>{{step.breadcrumb}}</a>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-7">
    <div class="question-form" ui-view>
    </div>
  </div>

  <div id="hint" class="col-sm-3 top-buffer">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="hintTitle">Helpful Hint</div>
      </div>
      <div class="panel-body">
        <div ui-view="hint@">
          Helpful hint.  This will be replaced by the hint for each step.
        </div>
      </div>
    </div>
  </div>
</div>
